{%- assign fixed_aspect_ratio = false -%}
{% unless image_size == 'natural' %}
  {%- assign fixed_aspect_ratio = true -%}
{% endunless %}

<div class="grid-item grid-article" data-style="{{ style }}">
  

  <div class="grid-article__meta">
    {%- if article.empty? -%}
      <a href="{{ article.url }}" class="article__title">Example blog post</a>
      <div class="article__sub-meta">
        {%- if show_date -%}
          <span class="article__sub-meta-date">Jul 17, {{ 'now' | date: "%Y" }}</span>
        {%- endif -%}
      </div>
    {%- else -%}
      <a href="{{ article.url }}" class="article__title">{{ article.title }}</a>
      <div class="article__sub-meta">
        {%- if show_date -%}
          <span class="article__sub-meta-date">{{ article.published_at | time_tag: format: 'month_day_year' }}</span>
        {%- endif -%} 
      </div>
  <div class="article_excerpt">
    <br>
    {%- if show_excerpt -%}
      {%- if article.excerpt.size > 0 -%}
          {{ article.excerpt }}
        {%- else -%}
          {{ article.content | strip_html | truncate: 250 }}
        {%- endif -%}
    {%- endif -%}
  {%- endif-%}
</div>

</div>
<br>
<a href="{{ article.url }}" class="btn">Mehr erfahren</a>
</div>