<div class="grid-item grid-article" data-style="{{ style }}">
  <div class="grid-article__meta">
    {%- if article.empty? -%}
      <a href="{{ article.url }}" class="article__title">Beispiel für ein Blogbeitrag</a>
      <div class="article__sub-meta">
        {%- if show_date -%}
          <span class="article__sub-meta-date">Jul 17, {{ 'now' | date: "%Y" }}</span>
        {%- endif -%}
        
      </div>
    {%- else -%}
      <a href="{{ article.url }}" class="article__title">{{ article.title }}</a>
      <div class="article__sub-meta">
        {%- if show_date -%}
          <span class="article__sub-meta-date">{{ article.published_at | time_tag: format: 'month_day_year' }}</span>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
</div>
