{%- paginate customer.orders by 20 -%}

<div class="page-width page-content">
  <header class="section-header section-header--with-link">
    <h1 class="section-header__title">{{ 'customer.account.title' | t }}</h1>
    <a href="{{ routes.account_logout_url }}" class="btn">{{ 'layout.customer.log_out'| t }}</a>
  </header>

  <div class="vz-login-window" style="display: inline-grid;">
      <p class="h5">{{ customer.name }}</p>

      {{ customer.default_address | format_address }}
  </div>

  <div class="label-info" style="margin-top: 30px;">
    <a href="#recover" id="RecoverPassword">
      {{ 'customer.recover_password.title' | t }}
    </a>
  </div>
  <div id="RecoverPasswordForm" class="hide">
    <div class="form-vertical vz-login-window">
      <p>{{ 'customer.recover_password.subtext' | t }}</p>

      {%- form 'recover_customer_password' -%}

        {{ form.errors | default_errors }}

        {%- if form.posted_successfully? -%}
          <span class="hide reset-password-success"></span>
        {%- endif -%}

        <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
        <input type="email" value="" name="email" id="RecoverEmail" class="input-full" autocorrect="off" autocapitalize="off">

        <p>
          <button type="submit" class="btn">
            {{ 'customer.recover_password.submit' | t }}
          </button>
        </p>
        <button type="button" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</button>
      {%- endform -%}
    </div>

  </div>
  
  <p style="padding: 20px 0;"><a href="{{ routes.account_addresses_url }}" class="text-link">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
  


  <h2>{{ 'customer.orders.title' | t }}</h2>

      {%- if customer.orders.size != 0 -%}

        <table class="table--responsive table--small-text vz-orders-table">
          <thead>
            <tr>
              <th>{{ 'customer.orders.order_number' | t }}</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th>{{ 'customer.orders.total' | t }}</th>
              <!--<th>Rechnung</th>-->
            </tr>
          </thead>
          <tbody>
            {%- for order in customer.orders -%}
              <tr class="table__section">
                <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                <!--<td data-label="Rechnung"><p><a href="{{ order.metafields.custom.rechnung.value.url }}" class="text-link vz-pdf-link" target="_blank">PDF</a></p></td>-->
              </tr>
            {%- endfor -%}
          </tbody>
        </table>

        <hr class="hr--clear">

      {%- else -%}

        <p>{{ 'customer.orders.none' | t }}</p>

      {%- endif -%}

  

  {%- liquid
    if paginate.pages > 1
      render 'pagination', paginate: paginate
    endif
  -%}
</div>
{%- endpaginate -%}
