<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- render 'seo-title' -%}

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- render 'social-meta-tags' -%}

  {%- render 'font-face' -%}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {%- render 'css-variables' -%}

  {{ content_for_header }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.settings = {
      themeName: 'Expanse',
      themeVersion: "1.0.2"
    };
  </script>

  <script src="{{ 'vendor-scripts-v0.js' | asset_url | split: '?' | first }}" defer="defer"></script>
  <script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>
</head>

<body class="template-password" data-button_style="{{ settings.button_style }}" data-edges="{{ settings.roundness }}" data-type_header_capitalize="{{ settings.type_header_capitalize }}" data-swatch_style="{{ settings.swatch_style }}" data-grid-style="{{ settings.product_grid_style }}">

  <div class="password-page__wrapper">
    {{ content_for_layout }}
  </div>

  <div id="LoginModal" class="modal modal--square">
    <div class="modal__inner">
      <div class="modal__centered text-center">
        <div class="password-form">
          {%- form 'storefront_password' -%}
            {{ form.errors | default_errors }}
            <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
            <div class="input-group">
              <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
              <span class="input-group-btn">
                <input type="submit" class="btn password-form__submit" value="{{ 'general.password_page.login_form_submit' | t }}">
              </span>
            </div>
          {%- endform -%}

          <div class="modal__footer-text">
            <small>
              {{ 'general.password_page.admin_link_html' | t }}
            </small>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn--circle btn--icon modal__close js-modal-close">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M19 17.61l27.12 27.13m0-27.13L19 44.74"/></svg>
        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t }}</span>
      </button>
    </div>
  </div>

</body>
</html>
