<div class="page-width">
{% for block in section.blocks %}
    {% case block.type %}

        {% when "title" %}
            {%- if block.settings.title != blank -%}
                <h2>{{ block.settings.title }}</h2>
                {%- else -%}
                {{ 'home_page.onboarding.no_content' | t }}
            {%- endif -%}
        {% when "image" %}
            <img src="{{ block.settings.image | img_url:'master' }}" height=100 width=100/>
            {%- when 'text' -%}
                <div class="rte">
                  {%- if block.settings.text != blank -%}
                    {%- if block.settings.enlarge_text %}<div class="enlarge-text">{% endif -%}
                    {{ block.settings.text }}
                    {%- if block.settings.enlarge_text %}</div>{% endif -%}
                  {%- else -%}
                    {{ 'home_page.onboarding.no_content' | t }}
                  {%- endif -%}
                </div>
    {% endcase %}
{% endfor %}
</div>

{% schema %}
{
  "name": "t:sections.rich-text-sidebar.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "enlarge_text",
      "label": "t:sections.rich-text-sidebar.blocks.text.settings.enlarge_text.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.rich-text-sidebar.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.rich-text-sidebar.blocks.heading.settings.title.label",
          "default": "Überschrift"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.rich-text-sidebar.blocks.image_picker.label",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.rich-text-sidebar.blocks.image_picker.settings.image.label"
        }
      ]
    },
    {
      "type": "richtext",
      "name": "t:sections.rich-text-sidebar.blocks.text.name",
      "settings": [
        {
          "id": "text",
          "type": "richtext",
          "label": "t:sections.rich-text-sidebar.blocks.text.settings.text.label",
          "default": "<p>Hier stehen Kontaktinformationen drin.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text-sidebar.presets.rich_text_sidebar.name",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}