<div class="rich-text-with-sidebar-card">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when "text"%}
        <div class="rich-text-with-sidebar-main-container">
      {{ block.settings.main_richtext }}
        </div>
    {% endcase %}
{% endfor %}
<div class= "rich-text-with-sidebar-sidebar"> 
<div class="rich-text-with-sidebar-sidebar-container">
  <b style="color:#f39200, text-align:center, font-size:16px">{{ section.settings.side-title }}</b><br><br>
  <img src="{{ section.settings.image | img_url:'master' }}" height=100 width=100 loading="lazy"/>
  {{ section.settings.side-richtext }}
</div>
<div class="rich-text-with-sidebar-versand-container">
  {{ section.settings.versand-richtext }}
</div>

{% if section.settings.checkbox %}
  <img src="https://cdn.shopify.com/s/files/1/0729/7653/1760/files/kategorie-alu-final_1.png?v=1679496799" loading="lazy">
{% endif %}
</div>

{% schema %}
{
  "name": "t:sections.sidebar-rich-text.name",
  "settings": [
    {
      "type": "text",
      "id": "side-title",
      "label": "t:sections.sidebar-rich-text.settings.side-title.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.sidebar-rich-text.settings.image.label"
    },
    {
      "type": "richtext",
      "id": "side-richtext",
      "label": "t:sections.sidebar-rich-text.settings.side-richtext.label"
    },
    {
      "type": "richtext",
      "id": "versand-richtext",
      "label": "t:sections.sidebar-rich-text.settings.versand-richtext.label"
    },
    {
      "type": "checkbox",
      "id": "checkbox",
      "label": "t:sections.sidebar-rich-text.settings.checkbox.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.sidebar-rich-text.blocks.main_text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "main_richtext",
          "label": "t:sections.sidebar-rich-text.blocks.main_text.settings.main_richtext.label",
          "default": "<h1>Hier steht ein Beispiel</h1> <p>So könnte es aussehen</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.sidebar-rich-text.presets.rich_text_with_sidebar.name",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
